body{
    background-color: white;
}

.card{
    background-color: whitesmoke;
    margin: 30px 0px 0px 0px;
    padding: 30px 5px 30px 5px;
    }
    
    h4{
        padding: 10px;
    }
    
    a{
        border-bottom: 1px solid blue;
    }
    
    
